.itemContainer {
    width: 100%;
    border: solid 2px #303030;
    height: 3em;
    display: flex;
}

.itemKeyWrapper {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.itemInfoWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: gray;
}