.itemContainer {
    /* border: solid 2px var(--secondaryDark); */
    height: 4em;
    display: flex;
    margin-bottom: 1em;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--secondaryLight);
    box-shadow: 6px 6px 3px -1px rgba(0,0,0,0.50);
}

.itemSection {
    display: flex;
    align-items: center;
    width: 25%;
    padding-left: 2%;
    padding-right: 2%;
}

.itemInfo {
    margin-top: 1%;
    margin-bottom: 1%;
    border-left: solid 1px var(--secondaryMedium);
    color: var(--secondaryMedium);
    overflow: hidden;
}

.itemName {
    border: none;
    color: var(--secondaryDark);
    font-weight: 600;
}

.dirButton {
    /* border-left: solid 2px var(--secondaryDark); */
}