@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200&display=swap");


html {
  background-color: var(--primaryLight);
  font-family: "Nunito";
  font-size: 1.2em;
  color: var(--secondaryLight);
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

.AppContainer {
  padding: 5%;
  box-sizing: border-box;
}

.title {
    font-size: 2.3em;
    margin-bottom: 1.5em;
    font-weight: 600;
    text-shadow: 2.4px 2.4px 1px rgba(0,0,0,0.50);

}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8em;
  margin-bottom: 2em;
}

.totalFileDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
  font-weight: 600;
  height: 80%;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.40);
  width: 60%;
}

.fileStatsRow {
    display: flex;
}

.fileStats {
    color: var(--primary);
    font-weight: 700;
    margin-left: 0.5em;
    text-shadow: none;
}

.divButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryMedium);
  font-weight: bold;
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.40);

}

.divButton:hover {
  background-color: var(--primary);
}

.floatingButton {
  border-radius: 10px;
  /* border: solid 2px var(--secondaryDark); */
  height: 4em;
  width: 25%;
  box-shadow: 6px 6px 3px -1px rgba(0,0,0,0.40);

}

.fileLabelContainer {
  height: 4em;
  display: flex;
}

.fileLabelSection {
  display: flex;
  align-items: center;
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: 300;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.40);

}
